.container {
  display: flex;
  margin: 0 auto;
  max-width: 45%;
  background-color: white;
  box-shadow: 2px 2px 2px 0 rgb(209 196 196);

}

.left-view {
  background-color: #2874f0;
  flex: 4;
  display: flex;
  flex-direction: column;
}

.left-txt {
  flex: 8;
}

.img-left {
  flex: 2;
}

.right-view {
  flex: 6; 
}

.txt-lg {
  font-size: 25px;
  font-weight: 500;
  color: aliceblue;
}
.register-txt {
  font-size: 20px;
  font-weight: 400;
  color: antiquewhite;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .container-wrapper {
    width: 100%;
  }
  .container{
    max-width: 88%;
  }
}
