
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 16px;
  }

  .mat-dialog-content {
    max-height: 300px; /* Adjust the max-height as per your requirement */
    overflow-y: auto;
  }